h1 {
    text-align: center;
    font:purple;
}
h3 {
    text-align: center;
}
.block {
    margin:auto;
    width: 600px;
    height: 600px;
    display:flex;
    flex-wrap: wrap;
}
.block div {
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: pink;
}

.pizzaPlayerX {
    background-image:url("./images/pizza.png" );
}

.donutPlayerO {
    background-image: url("./images/donut.png");

}

#Pizza Rat {
    text-align: left;
    
}

#Dougie {
    text-align: right;
}

